In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('anxiety_depression_data.csv')

In [4]:
df.head()

,Age,Gender,Education_Level,Employment_Status,Sleep_Hours,Physical_Activity_Hrs,Social_Support_Score,Anxiety_Score,Depression_Score,Stress_Level,Family_History_Mental_Illness,Chronic_Illnesses,Medication_Use,Therapy,Meditation,Substance_Use,Financial_Stress,Work_Stress,Self_Esteem_Score,Life_Satisfaction_Score,Loneliness_Score
0,56,Male,Bachelor's,Unemployed,6.0,0.4,3,4,2,9,0,0,NaN,0,1,NaN,4,3,7,5,1
1,69,Female,Bachelor's,Retired,8.8,2.8,6,18,7,6,0,0,NaN,1,0,NaN,1,4,7,4,6
2,46,Female,Master's,Employed,5.3,1.6,5,5,13,8,0,0,NaN,0,1,NaN,8,7,8,1,1
3,32,Female,High School,Unemployed,8.8,0.5,4,6,3,4,1,1,NaN,0,0,NaN,7,4,8,4,4
4,60,Female,Bachelor's,Retired,7.2,0.7,2,7,15,3,0,0,NaN,1,1,Frequent,8,9,5,7,7

ESCALA HASTA EL 10: Social_Support_Score, Stress_Level, Financial_Stress, Work_Stress, Self_Esteem_Score Life_Satisfaction_Score, Loneliness_Score
ESCALA HASTA 20: Anxiety_Score, Depression_Score
BOOLEANO: Family_History_Mental_Illness, Therapy, Meditation,

In [5]:
diccionario = {0: "No", 1: "Si"}

In [6]:
lista_bool = ['Family_History_Mental_Illness', 'Therapy', 'Meditation']

In [7]:
for c in lista_bool:
    df[c] = df[c].map(diccionario)

In [8]:
df.head()

,Age,Gender,Education_Level,Employment_Status,Sleep_Hours,Physical_Activity_Hrs,Social_Support_Score,Anxiety_Score,Depression_Score,Stress_Level,Family_History_Mental_Illness,Chronic_Illnesses,Medication_Use,Therapy,Meditation,Substance_Use,Financial_Stress,Work_Stress,Self_Esteem_Score,Life_Satisfaction_Score,Loneliness_Score
0,56,Male,Bachelor's,Unemployed,6.0,0.4,3,4,2,9,No,0,NaN,No,Si,NaN,4,3,7,5,1
1,69,Female,Bachelor's,Retired,8.8,2.8,6,18,7,6,No,0,NaN,Si,No,NaN,1,4,7,4,6
2,46,Female,Master's,Employed,5.3,1.6,5,5,13,8,No,0,NaN,No,Si,NaN,8,7,8,1,1
3,32,Female,High School,Unemployed,8.8,0.5,4,6,3,4,Si,1,NaN,No,No,NaN,7,4,8,4,4
4,60,Female,Bachelor's,Retired,7.2,0.7,2,7,15,3,No,0,NaN,Si,Si,Frequent,8,9,5,7,7

In [20]:
df['Employment_Status'].value_counts()

Employment_Status
Employed      320
Student       310
Unemployed    288
Retired       282
Name: count, dtype: int64

In [21]:
df['Substance_Use'].value_counts()

Substance_Use
Occasional    242
Frequent      124
Name: count, dtype: int64

In [9]:
df['Gender'].unique()

array(['Male', 'Female', 'Non-Binary', 'Other'], dtype=object)

In [10]:
df['Substance_Use'].isnull().sum()/df.shape[0]*100

69.5

In [11]:
df['Gender'].value_counts()/df.shape[0]*100

Gender
Female        47.416667
Male          43.333333
Non-Binary     7.500000
Other          1.750000
Name: count, dtype: float64

In [12]:
#eliminar
df.drop(columns=['Medication_Use', 'Chronic_Illnesses'], inplace=True)

In [13]:
df.shape

(1200, 19)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1200 non-null   int64
 1   Gender                         1200 non-null   object
 2   Education_Level                1200 non-null   object
 3   Employment_Status              1200 non-null   object
 4   Sleep_Hours                    1200 non-null   float64
 5   Physical_Activity_Hrs          1200 non-null   float64
 6   Social_Support_Score           1200 non-null   int64
 7   Anxiety_Score                  1200 non-null   int64
 8   Depression_Score               1200 non-null   int64
 9   Stress_Level                   1200 non-null   int64
 10  Family_History_Mental_Illness  1200 non-null   object
 11  Therapy                        1200 non-null   object
 12  Meditation                     1200 non-null   object
 13  Substance_Use                  366 non-null    object
 14  Financial_Stress               1200 non-null   int64
 15  Work_Stress                    1200 non-null   int64
 16  Self_Esteem_Score              1200 non-null   int64
 17  Life_Satisfaction_Score        1200 non-null   int64
 18  Loneliness_Score               1200 non-null   int64
dtypes: float64(2), int64(10), object(7)
memory usage: 178.3+ KB

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1200.0,46.317500,16.451157,18.0,33.0,46.0,61.0,74.0
Sleep_Hours,1200.0,6.469000,1.529550,2.0,5.4,6.4,7.5,12.4
Physical_Activity_Hrs,1200.0,2.005750,2.037818,0.0,0.6,1.4,2.7,15.1
Social_Support_Score,1200.0,5.055000,2.652893,1.0,3.0,5.0,7.0,9.0
Anxiety_Score,1200.0,10.470000,5.911138,1.0,5.0,10.5,16.0,20.0
Depression_Score,1200.0,10.674167,5.632889,1.0,6.0,11.0,15.0,20.0
Stress_Level,1200.0,5.000833,2.538281,1.0,3.0,5.0,7.0,9.0
Financial_Stress,1200.0,4.992500,2.590953,1.0,3.0,5.0,7.0,9.0
Work_Stress,1200.0,4.889167,2.547016,1.0,3.0,5.0,7.0,9.0
Self_Esteem_Score,1200.0,5.062500,2.531587,1.0,3.0,5.0,7.0,9.0
Life_Satisfaction_Score,1200.0,5.120000,2.569910,1.0,3.0,5.0,7.0,9.0
Loneliness_Score,1200.0,4.959167,2.566383,1.0,3.0,5.0,7.0,9.0

In [16]:
df['Anxiety_Score'] = df['Anxiety_Score']/2

In [17]:
df['Depression_Score'] = df['Depression_Score']/2

In [18]:
df.to_csv('csv_mental_health.csv')